<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into dish (name, category_id, price, image, description, create_time, update_time, create_user,
                          update_user, status)
        values (#{name}, #{categoryId}, #{price}, #{image}, #{description}, #{createTime}, #{updateTime}, #{createUser},
                #{updateUser}, #{status})
    </insert>

    <select id="pageQuery" resultType="DishVO">
        select dish.*,category.name categoryName from dish,category

        <where>
            dish.category_id = category.id
            <if test="name != null and name != ''">
                and dish.name like concat('%',#{name},'%')
            </if>
            <!--
                dish.name 是数据库中的，#{name} 是前端传过来的
                if 中的也是前端传过来的数据

                这里注意 categoryId 是前端穿过来的数据，是 DishPageQueryDTO 中的数据
                category_id 是数据库中的数据，要注意对应。
            -->
            <if test="categoryId != null and categoryId != ''">
                and dish.category_id = #{categoryId}
            </if>

            <!-- status 是 Integer ，所以不能加判断：status != '' , 字符串才需要加这个判断。-->
            <if test="status != null">
                and dish.status = #{status}
            </if>
        </where>
        order by create_time desc
    </select>

    <delete id="deleteByDishIds">
        delete from dish
        where id in
        <foreach collection="dishIds" item="dishid" separator="," open="(" close=")">
            #{dishid}
        </foreach>
    </delete>

    <update id="updateInfo" parameterType="Dish">
        update dish
        <set>
            <if test="image != null and image != ''">image = #{image},</if>
            <if test="name != null and image != ''">name = #{name},</if>
            <if test="price != null">price = #{price},</if>
            <if test="categoryId != null"> category_id = #{categoryId},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
        </set>
        where id = #{id}
    </update>
</mapper>